In [2]:
a="Hello shekhar"
print(a.lower())

hello shekhar

In [3]:
a="hello shelkar,hello bhai"
print(a.count("hello"))

2

In [4]:
a="hello friends"
print(a.replace("frinds","world"))

hello friends

2.write instrutions to perform each of the steps below,

(a)Create a string containing at least five words store it in a variable.
(b)Print out the string.
(c)Cover the string to a list of word using the string spilt method.
(d)Sort the list into reverse alphabetical order using some of the list metods
(e)Print out the sorted, reversed list of words.

In [1]:
a="Avinash,Rakesh,Shiva,Raj"
print(a)

Avinash,Rakesh,Shiva,Raj

In [2]:
b=a.split(",")
print(b)

['Avinash', 'Rakesh', 'Shiva', 'Raj']

In [3]:
b.sort(reverse=True)
print(b)

['Shiva', 'Rakesh', 'Raj', 'Avinash']

3.Wap to program that determines whether the number is prime

In [4]:
n=int(input("enter a number"))
r=2
while(r<n):
    if(n%r)==0:
        print(n," is not a prime no")
        break;
        r=r+1
        if(n==r):
            print(n,"is a prime no")

enter a number12
12  is not a prime no

4.Find all num  which are multiple of 17, but not the multiple of 5,between 2000 and 2500,

In [5]:
for i in range(2000,2500):
    if(i%17==0)and(not(i%5==0)):
        print(i)

2006
2023
2057
2074
2091
2108
2142
2159
2176
2193
2227
2244
2261
2278
2312
2329
2346
2363
2397
2414
2431
2448
2482
2499

In [8]:
a=int(input("Enter 1st value="))
b=int(input("Enter 2nd value="))
a=b
b=a
print("swapped value of a=",a)
print("swapped value of b=",b)

Enter 1st value=12
Enter 2nd value=43
swapped value of a= 43
swapped value of b= 43

In [2]:
def add(x,y):
    return x+y
def subtract(x,y):
    return x-y
de  f multiply(x,y):
    return x*y
def divide(x,y):
    return x/y
print("select opration")
print("1.add")
print("2.subtract")
print("3.multiply")
print("4.divide")
choice=input("Enter choice(1/2/3/4):")
num1=int(input("Enter first number="))
num2=int(input("Enter second number="))
if choice=='1':
    print(num1,"+",num2,"=",add(num1,num2))
elif choice=='2':
    print(num1,"-",num2,"=",subtract(num1,num2))
elif choice=='3':
    print(num1,"*",num2,"=",multiply(num1,num2))
elif choice=='4':
    print(num1,"/",num2,"=",divide(num1,num2))
else:
    print("invailid input")

select opration
1.add
2.subtract
3.multiply
4.divide
Enter choice(1/2/3/4):1
Enter first number=23
Enter second number=34
23 + 34 = 57

In [ ]:
def