BASIC PYTHON

VARIABLE=
In programming and computer science, a variable is a symbolic name or identifier associated with a value or a memory location where data is stored. Variables play a crucial role in computer programs as they allow developers to store and manipulate data dynamically during the execution of the program.

Here are some key aspects of variables:

Name: A variable has a name that uniquely identifies it within the scope of a program. The name is used to refer to the stored data.

Value: A variable holds a value, which can be of various types such as numbers, strings, boolean values, or more complex data structures like arrays or objects.

Memory Location: In lower-level programming languages, a variable is associated with a specific memory location where its value is stored. In higher-level languages like Python, the details of memory management are abstracted away from the programmer.

Type: Variables have a data type that defines the kind of data they can store. For example, integer variables can store whole numbers, and string variables can store sequences of characters.

Scope: The scope of a variable refers to the region of the code where the variable is accessible. Variables can be local to a specific function or block of code, or they can have global scope, making them accessible throughout the entire program.

In [2]:
print("hello world")

hello world

In [3]:
print('hello bhai')

hello bhai

In [4]:
rent=455
gas=235
grocerise=305.6
total=rent+gas+grocerise
print(total)

995.6

In [5]:
item1='rent'
item2='gas'
item3='grocerise'
print("expense items:",item1,item2,item3)

expense items: rent gas grocerise

DATA TYPES==

# INT

In [6]:
A=34
print(A)

34

In [7]:
type(A)

int

# float

flaot is a number, positive or nigative containig one or more with decimals

In [8]:
a=12.2
print(type(a))

<class 'float'>

In [9]:
a=2+5j
print(type(a))

<class 'complex'>

In [10]:
x=3+5j
print(x)

(3+5j)

In [11]:
#non---value is empty non data type

## string

In [12]:
a='shekhar raj';
print(a)

shekhar raj

In [13]:
print(type(a))

<class 'str'>

In [14]:
x='a';
print(type(x))

<class 'str'>

In [15]:
x='dhfjdagujsjhjjhm'
print(x)

dhfjdagujsjhjjhm

In [16]:
print(type(x))

<class 'str'>

# operators in python

arithmetic operator

In [17]:
a=34
b=23
c=a+b
print(c)

57

In [18]:
d=10+4*3
print(d)

22

In [19]:
c=a-b
print(c)

11

In [20]:
c=a*b
print(c)

782

In [21]:
3**2

9

In [22]:
nyc_ball=188
bal_pitt=247
total_distance=nyc_ball+bal_pitt
print(total_distance)

435

In [23]:
mph=65
time=total_distance/mph
print(time)

6.6923076923076925

In [24]:
round(time,2)

6.69

In [25]:
round(time,3)

6.692

In [26]:
(10+2)*3

36

In [27]:
a=60
b=12
c=a//b
print(c)

5

comparision operator

In [28]:
a=23
b=34
print(a==b)

False

In [29]:
print(a!=b)

True

In [30]:
print(a>b)

False

Consider a module to be same as code library

A file containig a set of function you want to include in your application

In [31]:
import math

In [32]:
math.pi

3.141592653589793

In [33]:
math.factorial(5)

120

In [34]:
math.sin(5)

-0.9589242746631385

In [35]:
import random

In [36]:
a=[2,4,56,7,6]
random.shuffle(a)
a

[7, 56, 4, 2, 6]

In [1]:
import time;
print(time.localtime(time.time()))

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=29, tm_hour=14, tm_min=44, tm_sec=36, tm_wday=0, tm_yday=29, tm_isdst=0)

In [38]:
import datetime;
print(datetime.datetime.now())

2024-01-20 17:08:27.682342

In [39]:
import calendar;
cal=calendar.month(2022,12)
print(cal)

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [40]:
import time;
print(time.time())

1705750707.8707824

In [41]:
file=open("student-mat.csv")
if file:
    print("file is opened successfuly")

file is opened successfuly

In [42]:
n=int(input())
i=1
while(i<=n):
    flag=0
    for j in range(2,i):
        if(i%j==0):
            flag=1
            break
    if(flag==1):
        print(i)
        
    i=i+i

23
4
8
16

In [43]:
time.ctime()

'Sat Jan 20 17:08:35 2024'

# data type

#list#
# list are user friendly. a list can have elements of  different data types. such as integer, float, string, tuple,another list
l=[2,34,65,45,65]
print(l)

In [44]:
l=[2,34,65,45,65]
print(l)

[2, 34, 65, 45, 65]

In [45]:
type(l)

list

In [46]:
l[1:2]

[34]

In [47]:
l[-1]

65

In [48]:
l2=['shiva']
l2*4

['shiva', 'shiva', 'shiva', 'shiva']

In [49]:
l2

['shiva']

In [50]:
l=[2,34,65,45,65]
print(l)

[2, 34, 65, 45, 65]

In [51]:
45 in l

True

In [52]:
45 not in l

False

In [53]:
l[::-1]

[65, 45, 65, 34, 2]

In [54]:
a=5.5
print(type(a))

<class 'float'>

In [55]:
l[:2:-1]

[65, 45]

In [56]:
l[-2::-1]

[45, 65, 34, 2]

In [57]:
l=[2,34,65,45,65]
l.append("absd")
l

[2, 34, 65, 45, 65, 'absd']

In [58]:
l.extend([66,67,68])
print(l)

[2, 34, 65, 45, 65, 'absd', 66, 67, 68]

In [59]:
l.insert(4,'Delhi')
print(l)

[2, 34, 65, 45, 'Delhi', 65, 'absd', 66, 67, 68]

In [60]:
l.pop(3)

45

In [61]:
l.remove(65)
l

[2, 34, 'Delhi', 65, 'absd', 66, 67, 68]

In [62]:
l[-1]=500
print(l)

[2, 34, 'Delhi', 65, 'absd', 66, 67, 500]

In [63]:
l[1:3]=[300,3430,547]
print(l)

[2, 300, 3430, 547, 65, 'absd', 66, 67, 500]

In [64]:
a=[23,-54,12,65,87]
a.sort()
a

[-54, 12, 23, 65, 87]

In [65]:
a.reverse()
a

[87, 65, 23, 12, -54]

In [66]:
'''arithemetic'''

'arithemetic'

In [67]:
l1=[2,3,5,4,6,8]
l2=[3,4,2,5,9,7]
a=l1+l2
print(a)

[2, 3, 5, 4, 6, 8, 3, 4, 2, 5, 9, 7]

In [68]:
l3=[21,43,23,54,65]
print(l3*2)

[21, 43, 23, 54, 65, 21, 43, 23, 54, 65]

In [69]:
l1=[2,3,5,4,6,8]
l2=[3,4,2,5,9,7]
print(8 in l1)

True

In [70]:
print(5,9 not in l2)

5 False

In [71]:
for i in l2:
    print(i)

3
4
2
5
9
7

In [72]:
l4=[1,2,3,4,5,6,7]
print(len(l4))

7

In [73]:
print(l4.count(5))

1

In [74]:
l4.index(4)

3

In [75]:
ls=[]
for i in range (1,11):
    ls.append(i)
    ls

In [76]:
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
#scaler miltiply on a vector
v=[2,3,4,5]
s=-3
print(v*s)

[]

In [78]:
h=[]
for i in v :
    h.append(i*s)
    h

In [79]:
print(h)

[-6, -9, -12, -15]

list coprehension

In [80]:
a=[12,3,6,4,6]       
[i**2 for i in a]

[144, 9, 36, 16, 36]

In [81]:
[i for i in range(1,32) if i%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [82]:
languages=['java','python','php','c','java']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [83]:
b=['apple','banana','mango','grapes','gavava']
mf=['kiwi','banana','mango','apple','gavava']
[fruit for fruit in mf if fruit.startswith('a')]

['apple']

In [84]:
print([[i*j for i in range(1,7)] for j in range(1,7)])

[[1, 2, 3, 4, 5, 6], [2, 4, 6, 8, 10, 12], [3, 6, 9, 12, 15, 18], [4, 8, 12, 16, 20, 24], [5, 10, 15, 20, 25, 30], [6, 12, 18, 24, 30, 36]]

In [85]:
la=[12,3,6,4,6]
lb=[6,12,18,36]
print([i*j for i in la for j in lb])

[72, 144, 216, 432, 18, 36, 54, 108, 36, 72, 108, 216, 24, 48, 72, 144, 36, 72, 108, 216]

list trewers

In [86]:
a=[2,4,3,2,5]
for i in a:
    print(i)

2
4
3
2
5

In [87]:
a=[2,4,3,2,5]
for i in a:
    print(0,len(a))

0 5
0 5
0 5
0 5
0 5

# #Tuples

A tuple in python is similar to a list .The diffrence bwtween the tow list thart we can't change element of tuple once it is assigned whereas we can change the element of list

characterstics of tuple=
                        unorderd
                        unchangeble
                        allows duplicate

In [88]:
# tuples
#create
#access
#edite
#add
#delete
#operations
#function

#create
t=(3,4,4,65,7,3,5)
print(t)
type(t)

(3, 4, 4, 65, 7, 3, 5)

tuple

In [89]:
t=(3,4,4,65,7,3,5)
for i in t:
    print(i)

3
4
4
65
7
3
5

In [90]:
t.index(65)

3

In [91]:
t=(3,4,4,65,7,3,5)
count_even=0
count_odd=0
for i in t:
    if i%2==0:
        print("even_number",i)
        count_even=count_even+1
    else:
        print("count_odd",i)
        count_odd=count_odd+1

count_odd 3
even_number 4
even_number 4
count_odd 65
count_odd 7
count_odd 3
count_odd 5

In [92]:
l=[1,2,print,type,input]
print(l)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000002F7EAA22190>>]

# #Sets

A set is an unordered collection of items .Every set element is unique(no duplicate) and must be immutable(can not be cahnged).
Hower a set it self is mutable.We can add or remove items from it.
Sets can also be used to perform mathemetical set operation ,symmetrics differance etc.

/Characterstics:
                Unorderd
                Mutable
                No duplicates
                Can't cantain  mutable data types

In [93]:
#sets
s={234,43,54,75,4,434,}
print(s)
type(s)

{434, 75, 4, 54, 234, 43}

set

In [94]:
#s={234,43,54,75,4,434,}
#s.add("34,45")
#print(s)
s={234,43,54,75,4,434,}
s.add(34)
print(s)

{434, 75, 4, 34, 54, 234, 43}

In [95]:
s={234,43,54,75,4,434,}
print(s)

{434, 75, 4, 54, 234, 43}

In [96]:
s={234,43,54,75,4,434,}
print(id(s))

3263834349856

In [97]:
s={234,43,54,75,4,434}
s.remove(54)
print(s)

{434, 75, 4, 234, 43}

## Dictionary

Dictionar is a collection of of key and value, used to store data value like a map
which unlike other data type which hold only single value as an element.
somelanguage it is known as map or assoseative arrays. 

characterstics:
               Mutable
               Indexing has no meaning
               Keys can't be duplicated
               Keys can't be mutable items

In [98]:
#dictionary
# it is set of key.
#dict has no indexing
#dit key>immutable value> they can mutable
# keys should be uniqe

In [99]:
d={'NAME':"shekhar",
   'GENDER':'MALE',
   'ROLL NO':4546}
print(d)

{'NAME': 'shekhar', 'GENDER': 'MALE', 'ROLL NO': 4546}

In [100]:
d['NAME']

'shekhar'

In [101]:
d['NAME']='RAM'
print(d)

{'NAME': 'RAM', 'GENDER': 'MALE', 'ROLL NO': 4546}

In [102]:
d

{'NAME': 'RAM', 'GENDER': 'MALE', 'ROLL NO': 4546}

In [103]:
d={'NAME':"shekhar",
   'GENDER':'MALE',
   'ROLL NO':4546,
   'MARKS':{'M1':4532,'DS':76,'MD':45}
  }
print(d)

{'NAME': 'shekhar', 'GENDER': 'MALE', 'ROLL NO': 4546, 'MARKS': {'M1': 4532, 'DS': 76, 'MD': 45}}

In [104]:
d={'NAME':"shekhar",
   'GENDER':'MALE',
   'ROLL NO':4546,
   'MARKS':{'M1':4532,'DS':76,'MD':45}
  }
print(d)
d.pop('MARKS')
print(d)

{'NAME': 'shekhar', 'GENDER': 'MALE', 'ROLL NO': 4546, 'MARKS': {'M1': 4532, 'DS': 76, 'MD': 45}}
{'NAME': 'shekhar', 'GENDER': 'MALE', 'ROLL NO': 4546}

# Function

In Python, a function is a block of reusable code that performs a specific task or set of tasks. Functions allow you to organize code into logical and modular units, making it easier to manage, understand, and reuse. Functions can take input parameters, perform actions, and return results

# A function is a block of stetament which can be used repetivily in a program.it save the time of a devloper.in python of function is same as in other languages

In [105]:
def add(x,y):
    return x+y
a=int(input("enter a:"))
b=int(input("enter b:"))
print("add=",add(a,b))

enter a:34
enter b:45
add= 79

In [106]:
def add():
    x=45
    y=65
    z=x+y
    print(z)
add()

110

In [110]:
def add():
    a=34
    b=46
    c=a+b
    return(c)
add()

80

In [107]:
def add(a,b):
    c=(a+b)
    print(c)
add(1,3)

4

In [108]:
def showdata():
    print("shekhar")
showdata()

shekhar

In [111]:
#default arg

def add(x,y=89):
    z=x+y
    return(z)
add(45)

134

In [109]:
def add(x,y):
    z=x+y
    return(z)
add(34,54)

88

In [112]:
def add(x=54,y=465,z=456):
    c=x+y+z
    return(c)
add(45,76,87)

208

In [113]:
def func(a,b):
    c=a+b
    return(c)
func(34,56)

90

In [114]:
def square(x):
    return x*x,x*2
square(5)

(25, 10)

In [115]:
def multiply(*args):
    product=1
    for i in args:
        product=product* i
        
    print( args)
    return product

In [116]:
multiply(2,4,3,6,5,87)

(2, 4, 3, 6, 5, 87)

62640

Kwargs
       allows us to pass any number of keyword argument
       keyword argument mean that contain a key-value pair, like a python 
       dectionary

In [117]:
def display(**kwargs):
    
    for (key,value)in kwargs.items():
        print(key,'->',value)

In [118]:
display(india= 'delhi',srilanka='colomo', nepal='kathmandu')

india -> delhi
srilanka -> colomo
nepal -> kathmandu